@font-face {
	font-family: 'SapientCentroSlabRegular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/SapientCentroSlab-Reg.otf') format('opentype');
}

@font-face {
	font-family: 'SapientCentroSlabMedium';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/SapientCentroSlab-Medium.otf') format('opentype');
}