.makeatrade__header, .makeatradeinstructions__header {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	text-align: center;
}

.makeatradeinstructions__apply, .submittrade {
	float: right;
	margin-top: 2%;
	margin-right:5%;
}

.createbutton, .deletebutton {
	margin-left: 5%;
	margin-top: 2%;
}

.displaynone {
	display: none;
}