//LIGHT GRAY = CCCCCC
//DARK GRAY = 565656
//RED E80500

//Login Page
$loginbackground: #FFFFFF;
$loginbuttoncolor: #FFFFFF;
$logintextcolor: #565656;
$titlecolor: #565656;
$titlefont: SapientSansMedium;
$loginbuttontextcolor: #565656;

//General theme
$buttonfont: SapientSansMedium;
$menufont: SapientSansMedium;
$menubackground: #FFFFFF;
$menutextcolor: #000000;
$menuhighlight: #00B6E8;
$buttoncolor: #FFFFFF;
$buttontextcolor: #000000;
$buttonbordercolor: #CCCCCC;

//Tables
$tablecolor: #000000;
$tableheader: #999999;
$tabledata1: #FFFFFF;
$tabledata2: #CCCCCC;
$tablefont: SapientSansRegular;


//Trader Home
$herobackground: #90DCFF;

//headings
$h2font: SapientSansRegular;
$pfont: SapientSansRegular;

$textbackground: #FFFFFF;

$mainfont: SapientSansRegular;
$backgroundcolor: #FFFFFF;